.duration-container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.duration-slider {
  width: 50%;
}

.duration-slider > div {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.not-triggered {
  opacity: 0.2;
}

.duration-percentage-container {
  width: 50px;
}
