.mock-trigger {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  background-color: #405790;
}

.bar-starter {
  background-color: #6863b2;
}

.is-triggered {
  background-color: #beebd1;
}

.disabled {
  opacity: 0.3;
}
