.mock-trigger {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  background-color: RGBA(255, 255, 255, 0.2);
}

.bar-starter {
  background-color: RGBA(255, 255, 255, 0.4);
}

.is-triggered {
  background-color: RGBA(177, 49, 31, 1);
}

.disabled {
  opacity: 0.3;
}
