.mode-selector-wrapper {
  width: 275px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  box-sizing: border-box;
}

.mode-selector__option {
  height: 100%;
  border: 1px solid black;
  transition: all 0.5s;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid RGBA(130, 130, 123, 0.5);
  border-radius: 2px;
  box-sizing: border-box;
}

.mode-selector__option--selected {
  background: RGBA(192, 32, 11, 1);
}
