.pattern-indicator-wrapper {
  width: 200px;
  height: 45px;
  /* background: white;
  color: black; */
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.pattern-indicator-wrapper > div {
  border: 1px solid RGBA(130, 130, 123, 0.5);
  border-radius: 2px;
  height: 45px !important;
}

.pattern-indicator__add-pattern {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 100%;
  width: 25%;
  cursor: pointer;
}

.pattern-indicator__plus-sign-icon {
  height: 20px;
}

.new-pattern-button > button > div > div,
.copy-pattern-button > button > div > div {
  height: 50px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.new-pattern-button > button {
  background: RGBA(143, 123, 119, 1) !important;
  font-family: 'Oswald', sans-serif !important;
  width: 170px !important;
  height: 50px !important;
}

.copy-pattern-button > button {
  background: RGBA(166, 166, 164, 1) !important;
  font-family: 'Oswald', sans-serif !important;
  width: 170px !important;
  height: 50px !important;
}

.new-pattern-button > button > div > div > span,
.copy-pattern-button > button > div > div > span {
  color: white !important;
}

.add-pattern-header {
  font-family: 'Oswald', sans-serif !important;
}
