.play-control-wrapper {
  width: 250px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* background: white; */
  cursor: pointer;
}

.play-control__is-playing {
  color: white;
  background: black;
}

.play-control__indicator {
  width: 15px;
  height: 15px;
  background: RGBA(52, 51, 51, 1);
  transition: all 0.5s;
}

.play-control__song-pattern-select {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.play-control__song-select {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  border: 1px solid RGBA(130, 130, 123, 1);
  border-radius: 2px;
}

.play-control__pattern-select {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  border: 1px solid RGBA(130, 130, 123, 1);
  border-radius: 2px;
  border-top: none;
}

.play-control__play-icon {
  height: 20px;
}

.play-control__small-box-select {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-control__song-pattern-text {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-control__play-pause-button {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  transition: all 0.5s;
  border: 1px solid RGBA(130, 130, 123, 1);
  border-radius: 2px;
}

.play-control__play-mode-selected {
  background: RGBA(192, 32, 11, 1);
}

.play-control__stop-button {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border: 1px solid RGBA(130, 130, 123, 1);
  border-radius: 2px;
}

.play-control__stop-button-icon {
  height: 20px;
  width: 20px;
  background: RGBA(130, 130, 123, 1);
}
