.play-control-wrapper {
  width: 160px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background: white;
  cursor: pointer;
}

.play-control__is-playing {
  color: white;
  background: black;
}

.play-control__song-pattern-select {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.play-control__song-select {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.play-control__patttern-select {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.play-control__small-box-select {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-control__song-pattern-text {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-control__play-pause-button {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  transition: all 0.5s;
}

.play-control__play-mode-selected {
  color: white;
  background: black;
}

.play-control__stop-button {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
